body{
    background-color: #d1ffd9;
}

.success_msg{
    border-width:2px;
    border-style:solid;
    border-color: #00cc22;
    padding: 5px;
    text-align: center;
}

.container{
    text-align: center;
}